/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  font-size: 100%;
}

h1.page_title {
  font-size: 175%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.menu_section {
  float: left;
  background-color: #909090;
  border: 1px solid black;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu_headings {
  width: 125px;
  float: right;
  text-align: center;
  border: 1px solid black;
  margin-right: -1px;
  margin-top: -1px;
}

.menu_heading_text {
  font-size: 125%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.first_heading {
  background-color: #c88e8e;
}

.second_heading {
  background-color: #c14543;
  color: white;
}

.third_heading {
  background-color: #e5d198;
}

.menu_text {
  width: 95%;
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  clear: right;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-4 {
    width: 30.33%; 
  }
  .col-lg-4 .menu_text{
    width: 88.55%; 
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 47%;
  }
  .col-md-6 .menu_text {
    width: 90.3%;
  }
  .col-md-12 {
    width: 97%;
  }
  .col-md-12 .menu_text {
    width: 95.25%;
  }
}